@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("font-awesome.min.css");
* {
  box-sizing: border-box;
}
body {
  font-family: "poppins", sans-serif;
  color: #101010;
  background-color: #ffffff;
  margin: 0;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.heading_container h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.heading_container h2 span {
  color: #f89cab;
}

.heading_container.heading_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

/*header section*/
.hero_area {
  padding: 0 45px;
}

.hero_area.sub_pages {
  height: auto;
}

#navbarSupportedContent {
  width: 100%;
  background-color: #f9ece6;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 0;
  border-radius: 15px 15px 0 0;
}

#navbarSupportedContent.innerpage_navbar {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
}

#navbarSupportedContent.innerpage_navbar .nav-item.active .nav-link {
  background-color: #f4f5f6;
}

#navbarSupportedContent .navbar-nav .nav-link {
  padding: 5px 25px;
  color: #514f4f;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
}

#navbarSupportedContent .nav-item.active .nav-link {
  background-color: #ffffff;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-brand {
  margin: 15px 0;
  padding: 0;
}

.navbar-brand span {
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.custom_nav-container .nav_search-btn {
  padding: 0;
  border: none;
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.custom_nav-container .navbar-toggler {
  outline: none;
  display: none;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.navbar {
  position: relative;

  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar-brand {
  display: inline-block;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-nav {
  display: flex;

  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.user_option {
  display: flex;
  gap: 25px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 25px;
}
.slider_section .slider_container {
  color: #fefefe;
  background-color: #000000;
  background-color: #f89cab;
  padding: 25px;
  border-radius: 0 0 15px 15px;
}
.carousel {
  position: relative;
}
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.slider_section .detail-box h1 {
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 10px;
}
.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #db4566;
  color: #ffffff;
  border: 1px solid #db4566;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 25px;
  text-transform: uppercase;
}
.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #db4566;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.slider_section .detail-box {
  padding-left: 45px;
  margin: 45px 0;
}
.slider_section .img-box {
  display: flex;
  justify-content: center;
  padding: 45px;
}
#navbarSupportedContent {
  padding: 15px 0;
}
.slider_section .carousel_btn-box {
  display: flex;
  background-color: #ffffff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: -25px;
  left: 5%;
  padding: 7px 10px;
  border-radius: 5px 5px 0 0;
}
.slider_section .carousel_btn-box .carousel-control-prev,
.slider_section .carousel_btn-box .carousel-control-next {
  position: unset;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  opacity: 1;
  background-position: center;
  color: #000000;
  font-size: 14px;
}
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
.slider_section .carousel_btn-box img {
  margin: 0 10px;
}
.heading_container h2 {
  text-transform: uppercase;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.shop_section .box .img-box {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 30px;
  height: 200px;
}

.shop_section .box .img-box img {
  max-width: 100%;
}
.shop_section .box a {
  color: #000000;
}
.shop_section .box {
  background-color: #eeeeee;
  position: relative;
  padding: 10px;
  margin-top: 25px;
  border-radius: 20px;
}
.shop_section .col-3 {
  padding: 0 1%;
}
.shop_section .box .detail-box {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.shop_section .box .detail-box h6 span {
  color: #db4f66;
}
.shop_section .box .new {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffffff;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  font-size: 15px;
}
h6 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}
.detail-box h6 {
  margin: 0 0 0.4em 0;
}
.shop_section .btn-box {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 45px;
}
.shop_section .btn-box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #f16179;
  color: #ffffff;
  border: 1px solid #f16179;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.saving_section {
  padding-left: 45px;
  padding-right: 45px;
}
.saving_section .box {
  padding-top: 45px;
  background-color: #7fd7eb;
  color: #ffffff;
  border-radius: 15px;
}
.saving_section .img-box {
  padding: 15px 0 0 25px;
}
.saving_section .img-box img {
  width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}
.saving_section .detail-box {
  padding: 0 25px;
}
.saving_section .detail-box p {
  margin-top: 5px;
}
.saving_section .detail-box .btn-box {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 35px -5px 0;
}
.saving_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 0;
  background-color: #109dbd;
  color: #ffffff;
  border: 1px solid #109dbd;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.saving_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 0;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.saving_section .detail-box .btn-box a {
  width: 165px;
  text-align: center;
  margin: 5px;
}
.b-details {
  display: flex;
  align-items: center;
}
.why_section .box {
  text-align: center;
  margin-top: 45px;
  background-color: #f9f8f7;
  padding: 25px;
  border-radius: 5px;
}
.why_section .box .img-box {
  margin-bottom: 15px;
}
h5,
.h5 {
  font-size: 1.25rem;
}
.gift_section .img-box img {
  width: 100%;
}
.gift_section .img-box {
  padding: 60px 0 60px 25px;
}
.gift_section .box {
  background-color: #6929a5;
  border-radius: 15px;
  color: #ffffff;
}
.gift_section {
  padding-left: 45px;
  padding-right: 45px;
}
.gift_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 0;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.gift_section .detail-box .btn-box a {
  width: 165px;
  text-align: center;
  margin: 5px;
}
.gift_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 0;
  background-color: #9242dd;
  color: #ffffff;
  border: 1px solid #9242dd;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.gift_section .detail-box .btn-box .btn2:hover {
  background-color: transparent;
  color: #9242dd;
}
.gift_section .detail-box .btn-box .btn1:hover {
  background-color: transparent;
  color: #ffffff;
}
.saving_section .detail-box .btn-box .btn1:hover {
  background-color: transparent;
  color: #109dbd;
}
.saving_section .detail-box .btn-box .btn2:hover {
  background-color: transparent;
  color: #ffffff;
}
.gift_section .detail-box .btn-box {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 35px -5px 0;
}
.gift_section .detail-box p {
  margin-top: 5px;
}
.gift_section .detail-box {
  padding: 0 25px;
}
.gift_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contact_section {
  position: relative;
}
.contact_section .heading_container {
  margin-bottom: 30px;
}
.contact_section .container-bg {
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}
.contact_section .row {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.contact_section .map_container {
  height: 100%;
  min-height: 375px;
}
.contact_section .map_container .map-responsive {
  height: 100%;
}
.contact_section form {
  padding-right: 35px;
  padding: 45px 20px;
}
.contact_section input {
  width: 100%;
  border: 1px solid #919191;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  background-color: transparent;
  outline: none;
  color: #101010;
}
.d-flex {
  display: flex !important;
}
.contact_section button {
  display: inline-block;
  padding: 12px 45px;
  background-color: #db4f66;
  color: #ffffff;
  border: 1px solid #db4f66;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  color: #fff;
  margin: 35px auto 0 auto;
}
.client_section .heading_container {
  margin-bottom: 20px;
}
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.client_section .box {
  margin: 15px 45px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  padding: 25px;
}
.client_section .box .client_info {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.client_section .carousel-control-prev {
  left: 0;
}
.client_section .carousel-control-next {
  right: 0;
}
.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  width: 45px;
  height: 125px;
  background-color: #db4f66;
  opacity: 1;
  font-size: 28px;
  font-weight: bold;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.client_section .owl-theme .owl-nav {
  margin-top: 0px;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 20px !important;
  font: inherit;
  font-size: 28px;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-decoration: none;
  border-radius: 40px;
}
.info_section {
  position: relative;
  background-color: #2d2d2d;
  color: #ffffff;
}
.layout_padding2-top {
  padding-top: 45px;
}
.info_section .social_container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 30px;
}
.info_section .social_container .social_box {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.info_section .social_container .social_box a {
  margin: 0 10px;
  color: #ffffff;
  font-size: 24px;
}
.info_section .row > div {
  margin-top: 25px;
}
.info_section h6 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 25px;
}
.info_section p {
  color: #cbc9c9;
}
h5,
.h5 {
  font-size: 1.25rem;
}
.info_section .info_form form input {
  outline: none;
  width: 100%;
  padding: 7px 10px;
}
.info_section .info_form form button {
  padding: 8px 35px;
  outline: none;
  border: none;
  color: #ffffff;
  background: #f89cab;
  margin-top: 15px;
  text-transform: uppercase;
}
.info_section p {
  color: #cbc9c9;
}
.info_section h6 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 25px;
}
.info_section .info_link-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px 0;
}
.info_section a {
  text-transform: none;
}
.info_section .info_link-box a i {
  color: #ffffff;
  margin-right: 5px;
  font-size: 18px;
}
.info_section .info_link-box a span {
  color: #cbc9c9;
}
.footer_section {
  margin-top: 45px;
  font-weight: 500;
}
.footer_section p {
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  border-top: 1.5px solid #eeeeee;
  width: 80%;
}
.owl-item {
}
.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}

/* Add this CSS code to your existing style.css or create a new one */

#product-container {
  margin-top: 20px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 80%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.single-product-block {
  margin: 20px 0;
}
.card-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-weight: bold;
  color: #ccc;
}

#filter-container {
  margin-top: 20px;
}

/* Optional: Add a subtle box shadow to the filter container */

.container-exp {
  position: relative;
}

.container-exp .card {
  position: relative;
  width: 100%;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.container-exp .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f89cab;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
  filter: grayscale(1);
}

.container-exp .card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.container-exp .card:after {
  content: "Shoes";
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  font-size: 5em;
  font-weight: 800;
  font-style: italic;
  color: rgb(247 155 170 / 11%);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(1);
}

.container-exp .card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container-exp .card:hover .imgBx {
  top: 0%;
  transform: translateY(0%);
}

.container-exp .card .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.container-exp .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container-exp .card:hover .contentBx {
  height: 210px;
}

.container-exp .card .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container-exp .card .contentBx .size,
.container-exp .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container-exp .card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container-exp .card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container-exp .card .contentBx .size h3,
.container-exp .card .contentBx .color h3 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container-exp .card .contentBx .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container-exp .card .contentBx .size span:hover {
  background: #9bdc28;
}

.container-exp .card .contentBx .color span {
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container-exp .card .contentBx .color span:nth-child(2) {
  background: #9bdc28;
}

.container-exp .card .contentBx .color span:nth-child(3) {
  background: #03a9f4;
}

.container-exp .card .contentBx .color span:nth-child(4) {
  background: #e91e63;
}

.container-exp .card .contentBx a.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container-exp .card:hover .contentBx a.btn {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}

#testimonial-owl-carousel .owl-item {
}

#testimonial-owl-carousel .item {
}
.profile .profile-img {
  width: 40%;
  height: auto;
  position: relative;
}
.profile .profile-content {
  width: 60%;
  padding: 20px;
}
.profile {
  display: flex;
  gap: 16px;
  background: #eaeaea;
  border-radius: 20px;
  overflow: hidden;
  align-items: center;
}
.profile .profile-img:before {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  top: 20%;
  left: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #eaeaea;
}
.shop_section2 {
  padding-top: 50px;
}

.single-product-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.single-product-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.single-product-details {
  margin-top: 20px;
}

.single-product-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.single-product-details p {
  margin-bottom: 10px;
}

.product-img {
  position: relative;
}
.product-img::before {
  position: absolute;
  content: "";
  width: 400px;
  height: 400px;
  background: pink;
  border-radius: 200px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}

#add-to-cart-btn {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  border: 2px solid;
  transition: 0.5s;
}

#add-to-cart-btn:hover {
  background: #111;
  color: #fff;
  border-radius: 4px;
  border: 2px solid #111;
  transition: 0.5s;
}

.quantity-container {
  margin-top: 10px;
}

#quantity {
  width: 50px;
  padding: 5px;
  font-size: 17px;
  font-family: "Poppins";
}

.input-group {
  display: flex;
  max-width: 150px; /* Adjust the width as needed */
}

#quantity {
  text-align: center;
  border: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 47px;
}

#add-to-cart-btn {
  margin-left: 10px; /* Adjust the margin as needed */
}

button#decrement-btn {
  border: none;
  background: #fff;
  padding: 5px;
  border-left: 2px solid #111;
  border-top: 2px solid #111;
  border-bottom: 2px solid #111;
  border-right: none;
  border-radius: 5px 0 0 5px;
  height: 47px;
  background: #ccc;
  width: 35px;
  transition: 0.2s;
}
button#increment-btn {
  border: none;
  background: #fff;
  padding: 5px;
  border-right: 2px solid #111;
  border-top: 2px solid #111;
  border-bottom: 2px solid #111;
  border-left: none;
  border-radius: 0 5px 5px 0;
  height: 47px;
  background: #ccc;
  width: 35px;
  transition: 0.2s;
}
button#decrement-btn:hover,
button#increment-btn:hover {
  background: #111;
  color: #fff;
  transition: 0.2s;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.quantity-and-cart {
  display: flex;
}
/* Add this CSS to your existing stylesheet or create a new one */

/* Style for the cart table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Style for table header */
.table th {
  background-color: #f2f2f2;
  padding: 12px;
  text-align: left;
}

/* Style for table rows */
.table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

/* Style for product image in the table */
.table img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

/* Style for Remove button */
.remove-item-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.remove-item-btn:hover {
  background-color: #c82333;
}

#total-section {
  justify-content: space-between;
  align-items: center;
}

/* Add this CSS to your existing stylesheet or create a new one */

/* Style for Clear Cart button */
#clear-cart-btn,
#cancel {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  transition: background-color 0.3s;
  border-radius: 5px;
}

#clear-cart-btn:hover,
#cancel:hover {
  background-color: #c82333;
}

/* Style for Proceed to Checkout button */
#checkout-btn,
#checkoutToPayment,
#login,
#register-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.3s;
  border-radius: 5px;
}

#checkout-btn:hover,
#checkoutToPayment:hover,
#login:hover,
#register-btn:hover {
  background-color: #0056b3;
}

.form-checkout {
  max-width: 600px;
  width: 100%;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form-control2 label {
  display: block;
  margin: 10px 0 5px;
  color: #555;
}

.form-control2 input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.d-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.checkout-container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 20px auto;
}

.order-summary {
  flex-grow: 1;
  margin-right: 20px;
}

.form-checkout table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.form-checkout th,
.form-checkout td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.order-details {
  flex-basis: 30%;
}

.subtotal,
.delivery,
.total {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.value {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}
.justify-content-space-between {
  justify-content: space-between;
}

.shop_section2 {
  padding: 20px;
}

.container {
  max-width: 100%;
}

.w-25 {
  width: 40% !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.p-3 {
  padding: 1rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.bg-white {
  background-color: #fff !important;
}

.rounded {
  border-radius: 0.2rem !important;
}

.text-center {
  text-align: center !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.text-info {
  color: #1b1b1b !important;
}
.login .form-group {
  margin: 20px;
  text-align: center;
}

.login input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.justify-content-end {
  justify-content: end;
}
.order_box_wrapper {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}

.order_box_wrapper .thankyou_title {
  margin: 0 0 50px;
  font-size: xxx-large;
}

.order_box_wrapper .ship_box {
  background-color: #fdf5f1;
  padding-bottom: 20px;
}

.ship_box .table_title {
  margin: 0 0 20px;
  display: block;
  background: #f9ece6;
  padding: 15px 0;
  font-size: 22px;
  color: #5f5f5f;
  text-transform: uppercase;
}

.ship_box h6,
.ship_box p {
  margin: 0 0 10px;
  font-size: 14px;
}

.order_summ {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.order_summ .order_image {
  max-width: 25%;
}

.order_summ .order_image img {
  max-width: 100%;
}

.order_summ .order_detail {
  max-width: 75%;
  padding-left: 25px;
  text-align: left;
}

.order_summ .order_detail h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.order_summ .order_detail span {
  display: block;
  font-size: 13px;
}

.ship_box .total_table {
  padding: 0 20px;
  width: 100%;
}

.ship_box .total_table td {
  width: 50%;
  text-align: left;
  font-weight: 600;
  color: #5f5f5f;
  padding: 5px 0;
}
.ship_box .total_table td:last-child {
  text-align: right;
  font-weight: 400;
}
